    body {
      background-image: url(Logo.jpg);
      background-position: center;
      background-size: cover;
      background-position-y: -390px;
      margin: 0;
    }
    
    .card {
      width: 100%;
      max-width: 200px;
      height: 250px;
      display: inline-block;
      margin: 20px;
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 20px;
      text-align: center;
      position: relative;
      overflow: hidden;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      transition: 0.3s;
      color: rgb(255, 0, 234);
      cursor: pointer;
    }
    
    .card:hover {
      transform: scale(1.1);
    }
    
    .card:before {
      content: "";
      position: absolute;
      top: -20px;
      left: -20px;
      right: -20px;
      bottom: -20px;
      background-color: transparent;
      border-radius: 20px;
      z-index: -1;
      transform: scale(1.5);
      transition: 0.3s;
    }
    
    .card:hover:before {
      transform: scale(1);
    }
    
    img {
      width: 100%;
      height: 60%;
      object-fit: cover;
      border-radius: 20px 20px 0 0;
    }
    
    h1 {
      font-size: 50px;
      border-bottom: 5px solid white;
      margin-bottom: 50px;
      color: #b007ff;
      text-shadow: 1px 1px 0 #7289da, 2px 2px 0 #5b6ddd, 3px 3px 0 #7289da;
    }

    @media screen and (min-width: 600px) {
      /* Adjust the layout for larger screens */
      .card {
        max-width: 300px;
      }
    }
